* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    position: relative;
}

.sideBarTitle {
    display: flex;
    gap: 5px;
    align-items: center;
}

.sideBarOne li,
.sideBarTwo li {
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    height: 30px;
    width: 40px;
}

img[alt="dbIcon"],
.leftBotHeader img  {
    height: 50px;
    width: 60px;
}

.sideBar img {
    filter: invert(1);
}

.chatBot {
    position: fixed;
    height: 50px;
    width: 50px;
    right: 35px;
    bottom: 35px;
    transform: scaleX(-1);
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "sideBar header"
    "sideBar content"
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: rgb(255, 255, 255);
    grid-area: header;
    position: relative;
    z-index: 999;
    box-shadow: 0px 15px 10px -10px rgb(187, 187, 187);
}

.card,
.announcementGroup,
.trend {
    box-shadow: 13px 13px 10px -10px rgb(187, 187, 187);
}

input[type="search"] {
    background-color: rgb(226, 226, 226);
    border-style: none;
    border-radius: 152px;
    width: 700px;
    padding: 10px 20px;
}

.topHeader,
.bottomHeader {
    display: flex;
    justify-content: space-between;
}

.rightTopHeader,
.leftBotHeader,
.leftTopHeader {
    display: flex;
}

.leftTopHeader,
.leftBotHeader {
    gap: 20px;
}

.rightTopHeader div {
    font-size: 25px;
    font-weight: bolder;
}

.rightTopHeader {
    align-items: center;
    gap: 20px;
}

.rightBotHeader {
    display: flex;
    gap: 30px;
}

.rightBotHeader button {
    font-size: 20px;
    color: white;
    border-style: none;
    background-color: #0ea5e9;
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

.sideBar{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    padding-top: 25px;
    padding-left: 30px;
    color: white;
    background-color: #0ea5e9;
    grid-template-rows: 1fr 3fr 3fr ;
    grid-area: sideBar;
}

.dashBoard,
.profName {
    font-size: 30px;
}

.sideBarOne,
.sideBarTwo {
    font-size: 22px;
}

ul li {
    margin-bottom: 20px;
}

.content {
    display: grid;
    padding: 30px 50px;
    background-color: rgb(226, 226, 226);
    grid-area: content;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "contentLeft contentTopRight"
    "contentLeft contentBotRight";
}

.contentLeft {
    padding-right: 50px;
    grid-area: contentLeft;
}

.contentTopRight {
    grid-area: contentTopRight;
}

.contentBotRight {
    grid-area: contentBotRight;
}

.gridContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 35px;
}

.contentLeft h2 {
    margin-bottom: 20px;
}

.card {
    position: relative;
    background-color: white;
    border-left: 10px solid orange;
    border-radius: 10px;
    height: 250px;
    padding-top: 30px;
    padding-left: 20px;
}

.icons {
    position: absolute;
    bottom: 35px;
    right: 45px;
}
 
.announcementGroup,
.trend { 
    border-radius: 10px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.announcementMain1,
.announcementMain2 {
    border-bottom: 2px solid rgb(204, 204, 204);
    padding-bottom: 35px;
}

.announcementMain1,
.announcementMain2,
.announcementMain3,
.trend {
    padding-top: 30px;
}

.announcementMain3,
.trend {
    padding-bottom: 50px;
}

.announcementDetails,
.trendingDetails,
.details {
    font-size: 15px;
    color: rgb(82, 82, 82);
}

.announcementGroup h4,
.accName {
    margin-bottom: 2px;
}

.announcementTitle,
.trendingTitle {
    margin-bottom: 20px;
}

.trendingAcc {
    display: flex;
    gap: 10px;
}

.trend {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


